<!DOCTYPE html>
<html lang="en">

<head>}
    <%- include('./partials/head.ejs') %>
</head>

<body>
    <div id="header">
        <%- include('./partials/nav.ejs') %>
            <div class="slogan">
                <!-- <a href="/"><img src="/img/logo_bold.png" id="logo" alt ="logo"></a> -->
                <div class="header-text">
                    <h1 id="balam">Balam</h1>
                    <span>Mexican | Geographer | Photographer</span>
                </div>
            </div>

    </div>
    <main>
        <!-----------------about me------------------>
        <div class="section" id="about">
            <div class="container">
                <div class="row">
                    <h1 class="sub-title">About Me</h1>
                    <div class="about-col-1">
                        <img src="img/portada-balam.jpg" alt="">
                    </div>
                    <!-- <div class="about-col-3">
                        <img src="img/portada-balam-full.jpg" alt="">
                    </div> -->
                    <div class="about-col-2">
                        <p>Geeking out over maps and data since 2014, mainly focusing on sustainable resource management
                            and territorial planning. I'm a big fan of geospatial technologies, especially GIS and
                            remote sensing, and love using them to create maps and many others visualizations. Whether
                            it's analyzing satellite imagery or doing fieldwork, I'm always excited to explore new ways
                            to use Geography to make a positive impact in both people and nature. In the recent years I
                            felt in love with photography and now I hae my camera always ready. </p>
                        <div class="tab-titles">
                            <p class="tab-links active-link" onclick="opentab('skills')">Skills</p>
                            <p class="tab-links" onclick="opentab('experience')">Experience</p>
                            <p class="tab-links" onclick="opentab('education')">Education</p>
                        </div>
                        <div class="tab-contents active-tab" id="skills">
                            <ul>
                                <li><span>GIS + Cartography</span><br>
                                    Spatial Analysis <br>
                                    Maps design and production</li>
                                <li><span>Data Viz</span><br>
                                    DB Management <br>
                                    Graphic design</li>
                                <li><span>Coding</span><br>
                                    Full-stack web development <br>
                                    <a href="https://github.com/ekbalam11" target="_blank">Check out my github profile
                                        for more
                                        info!</a>
                            </ul>
                        </div>
                        <div class="tab-contents" id="experience">
                            <ul>
                                <li><span>2018-2019</span><br>GIS Analyst <br>
                                    CentroGEO, Mexico City</li>
                                <li><span>2019-2020</span><br>Research Project Coordinator <br>
                                    University of British Columbia and UNAM, Mexico City</li>
                                <li><span>2019-2021</span><br>Associate professor <br>
                                    UNAM, Mexico City</li>
                                <li><span>2022-2023</span><br>Content Moderator for Facebook <br>
                                    Barcelona</li>
                            </ul>
                        </div>
                        <div class="tab-contents" id="education">
                            <ul>
                                <li><span>2010-2014</span><br>BS Geography <br>
                                    UNAM, Mexico City</li>
                                <li><span>2017-2019</span><br>MSc Sustainability Science <br>
                                    UNAM, Mexico City</li>
                                <li><span>2024</span><br>Full-stack web development bootcamp <br>
                                    Ironhack, Barcelona</li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!--------------------services-------------------->
        <!-- <div class="section" id="services">
            <div class="container">
                <h1 class="sub-title">My Services</h1>
                <div class="services-list">
                    <div>
                        <a href="/data-portfolio">
                            <i class="fa-solid fa-earth-americas"></i>
                            <h2>Cartography and data viz</h2>
                            <p style="color: whitesmoke;">Cartographic design and production for all your needs.
                                Scientific inputs with aesthetic results</p> <br><br>
                            <p class="cita">"La cartografía es la más artística de las ciencias y la más científica de
                                las artes" </p>
                        </a>
                    </div>
                    <div>
                        <a href="#">
                            <i class="fa-solid fa-magnifying-glass-chart"></i>
                            <h2>Academic production</h2>
                            <p>Check my projects, papers, thesis and more. <br><br>
                        </a>
                    </div>
                    <div>
                        <a href="/portfolio"></a>
                        <i class="fa-solid fa-images"></i>
                        <h2>Photography</h2>
                        <p class="cita">"From boxing championships to catalan Correfoc or mexican Son Jarocho. Just my
                            life through a lens". <br><br>
                            </a>
                    </div>
                </div>
            </div>
        </div> -->

        <!---------------------------portfolio---------------->

        <div class="section" id="portfolio">
            <div class="wrap">
                <h1 class="sub-title">Portfolio</h1>
                <div class="work-list">
                    <div class="work">
                        <img src="img\roboto.png" alt="Aquí va una imagen">
                        <div class="layer">
                            <h3>Data</h3>
                            <a href="/data-portfolio"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                        </div>
                    </div>
                    <!-- <div class="work">
                        <img src="img\laguna.png" alt="Aquí va una imagen">
                        <div class="layer">
                            <h3>Geography</h3>
                            <a href="#"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                        </div>
                    </div> -->
                    <div class="work">
                        <img src="img\michi.png" alt="Aquí va una imagen">
                        <div class="layer">
                            <h3>Code</h3>
                            <a href="https://github.com/ekbalam11/"><i
                                    class="fa-solid fa-arrow-up-right-from-square"></i></a>
                        </div>
                    </div>
                    <div class="work">
                        <img src="img\flor.png" alt="Aquí va una imagen">
                        <div class="layer">
                            <h3>Photography</h3>
                            <a href="/portfolio"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!------------------ maps ----------------->
        <!-- <div class="section" id="map">
    <iframe width="425" height="350" src="https://www.openstreetmap.org/export/embed.html?bbox=2.180120944976807%2C41.42314791802191%2C2.201299667358399%2C41.442838972931746&amp;layer=mapnik&amp;marker=41.43299419211502%2C2.1907103061676025" style="border: 1px solid black"></iframe><br/><small>
        <span class="btn">
            <a id="map-text" href="https://www.openstreetmap.org/?mlat=41.4330&amp;mlon=2.1907#map=16/41.4330/2.1907">Ver el mapa más grande</a></small>
        </span>
</div>
 -->



        <!---------------contact--------------->
        <div class="section" id="contact">
            <div class="container">
                <div class="row">
                    <div class="contact-text">
                        <h1 class="sub-title">Contact Me</h1>
                        <p><i class="fa-regular fa-comments"></i>ekbalam11@gmail.com</p>
                        <p><i class="fa-solid fa-mobile-screen"></i>(+34)666140628</p>
                        <div class="social-CV">
                            <a href="/download-CV" download="../public/resources/BalamCastroCV2024.pdf"><button
                                    type="submit" class="btn">Download CV</button></a>
                            <div class="social-icons">
                                <a href="https://github.com/ekbalam11/"><i class="fa-brands fa-github"></i></a>
                                <a href="https://www.linkedin.com/in/balamcastro/"><i
                                        class="fa-brands fa-linkedin"></i></a>
                                <a href="https://www.instagram.com/balam_castro/"><i
                                        class="fa-brands fa-instagram"></i></a>
                                <a href="https://twitter.com/Balam_CT"><i class="fa-brands fa-twitter"></i></a>
                                <a href="https://www.researchgate.net/profile/Balam-Castro"><i
                                        class="fa-brands fa-researchgate"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="contact-form">
                        <form action="/new-message" method="POST">
                            <input type="text" name="name" id="name" placeholder="Your Name" required>
                            <input type="email" id="email" name="email" placeholder="Your email"
                                pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" required>
                            <textarea name="message" id="message" rows="6" placeholder="Your Message"
                                required></textarea>
                            <button type="submit" class="btn">Send your message</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <footer class="copyright">
            <p>Copyright © Balam Castro. Website made by me <i class="fa-solid fa-feather"></i> </p>
        </footer>
    </main>
    <script>
        var tablinks = document.getElementsByClassName("tab-links");
        var tabcontents = document.getElementsByClassName("tab-contents");

        function opentab(tabname) {
            for (tablink of tablinks) {
                tablink.classList.remove("active-link");
            }
            for (tabcontent of tabcontents) {
                tabcontent.classList.remove("active-tab");
            }
            event.currentTarget.classList.add("active-link");
            document.getElementById(tabname).classList.add("active-tab");
        };

    </script>
</body>

</html>