:root {
    --black: rgb(16, 23, 32);
    --white: rgb(247, 252, 254);
    --whiteGray: rgb(220, 221, 221)
}

/* ------------------------header */

/* #portfolio-header {
    width: 100%;
    height: 100vh;
    background-image: url(../img/self.jpg);
    background-size: cover;
    background-position: bottom;
} */

#portfolio-logo {
    display: none;
}

#portfolio-nav-bar ul {
    width: 100%;
    position: fixed;
}

/* ------------------------portfolio */
.gallery {
    padding: 3rem;
    margin-top: 50px;
    background-color: var(--black);
    color: var(--whiteGray);
    display: flex;
    flex-direction: column;
}

.photo-article img {
    width: 100%;
    height: auto;
}

.photo-info {
    padding: .5rem 0 .5rem 0;
    position: relative;
    bottom: auto;
    text-align: center;
    background-color: rgba(16, 23, 32, 0.5);
    font-family: 'Open Sans', sans-serif;
}

.photo-info h3 {
    color: var(--white);
    text-transform: uppercase;
    font-weight: 800;
}


/* ---------------------design gallery */


.wrapper {
    max-width: 95%;
    margin: auto;
}
.wrapper > p, 
.wrapper > h1 {
    margin: 1.5rem 0;
    margin-top: 5rem;
    text-align: center;
}
.wrapper > h1 {
    letter-spacing: 3px;
}
.accordion {
    background-color: white;
    color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
    font-size: 1.2rem;
    width: 100%;
    padding: 1rem 1.5rem;
    border: none;
    outline: none;
    transition: 0.4s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
}
.accordion i{
    font-size: 1.6rem;
}
.accordion-titles{
    display: flex;
    padding-right: 1rem;
    flex-direction: column;
    justify-content: space-between;
}
.accordion-titles h2{
    font-size: 1rem;
}
.accordion-titles h3{
    padding-bottom: 1rem;
    font-size: 1.25rem;
}
.accordion-titles h4{
    font-size: 0.9rem;
    font-weight: 400;
}
.active, 
.accordion:hover{
    background-color: gainsboro;
} 

.pannel p{
    color: rgba(0, 0, 0, 0.7);
    font-size: 1.2rem;
    line-height: 1.4;
}
.pannel{
    padding: 0 2rem 2.5rem 2rem;
    background-color: white;
    overflow: hidden;
    display: none;
    border: 2px solid var(--whiteGray);
}
.pannel > img{
    width: 100%;
    margin-top: 1.5rem;
}
.pannel .bib-source{
    font-size: 0.5rem;
    padding-top: 2rem;
}
.pannel .bib-source:hover{
    text-decoration: underline;
}

.faq.active{
    border: none;
}




@media screen and (min-device-width: 813px)
/* and (max-device-width: 1900px)  */
and (-webkit-min-device-pixel-ratio: 1) {

    .gallery {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        /* Adjust 300px as needed */
        grid-gap: 20px;

    }

    .gallery img {
        height: 300px;
        object-fit: cover;
    }

    /* ---------------------design gallery */

    .wrapper {
        max-width: 85%;
        margin: auto;
    }
    .accordion{
        padding: 2rem 2.5rem;
    }
    .accordion-titles{
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }
    .accordion h2{
        text-align: left;
        font-size: 2rem;
        padding-bottom: 0.5rem;
    }
    .accordion h3{
        font-weight: 600;
        font-size: 1.5rem;
    }
    .accordion h4{
        font-weight: 400;
        font-size: 1rem;
    }

    .pannel .bib-source{
        font-size: 0.75rem;
    }



/* -------------------photo */
.gallery:hover img
 {
    -webkit-filter: blur(13px);
     -moz-filter: blur(13px);
     -o-filter: blur(13px);
     -ms-filter: blur(13px);
     filter: blur(3px);  
     opacity: .65;
   
 }
 
 .gallery:hover img:hover
 {
    -webkit-filter: blur(0px);
     -moz-filter: blur(0px);
     -o-filter: blur(0px);
     -ms-filter: blur(0px);
     filter: blur(0px);  
     opacity: 1;
 }
 
 
 body.no-touch .boxInner:hover .titleBox, body.touch .boxInner.touchFocus .titleBox {
    margin-bottom: 0;
 }

}